<htmL>

<head>
    <title>Booking Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-image: url('');
        }

        .box {
            width: 500px;
            height: 100px;
            border: solid 5px #000;
            border-color: #000 transparent transparent transparent;
            border-radius: 50%/100px 100px 0 0;
        }
    </style>
</head>


<body align="'center">


    <div align="center">
        <h1>Booking Page</h1>

        <form action="/bookings" method="post">
            <div class="box"></div>


            {{seats|safe}}
          

      

            <br><br>
            <input type="submit" value="Book Now">
        </form>
    </div>
</body>

</htmL>

<!-- 
<div class="row3">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
</div>




<div class="row4">
    <input name ='' type="checkbox" value="">
    <input type="checkbox" name="" value="">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
</div>

<div class="row5">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
</div>

<div class="row">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
</div> -->